<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orfid.internetcommunity"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
 
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4272d5824935f3a03f502c18610d7e6a" />
        
        <activity
            android:name="com.orfid.internetcommunity.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="com.orfid.internetcommunity.LoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.orfid.internetcommunity.HomeActivity"
            >
             
        </activity>
        <activity 
            android:name="com.orfid.internetcommunity.MessageActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.SettingActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.HomeFriendsPicActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.PersonalActivity"
            >
            
        </activity>
        <activity 
            android:name="com.orfid.internetcommunity.TextQipaoActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.VoiceQipaoActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.AddFriendsActivity"
            >
           
        </activity>
        <activity 
            android:name="com.orfid.internetcommunity.AddNewFriendsActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.NewFriendsActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.SelectFriendsActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.NickNameActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.SexyActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.AddGamesActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.ChattingActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.LoginMyActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.ChattingMessageActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.RegisterMyActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.SelectSpecificActivity"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.ToastActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.MusicLyricActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.VoiceStartActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.VoiceNewActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.SelectPicActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.LaHeiActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity 
            android:name="com.orfid.internetcommunity.MaoPaoActivity"
            android:theme="@style/MyDialogStyleBottom"
            ></activity>
        <activity
            android:name="com.orfid.internetcommunity.MultyLocationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            ></activity>
        
    </application>

</manifest>
